.nav-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
}
.links-container{
    width: 40%;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.website-logo{
    width: 200px;
    height: 80px;
}

.nav-link{
    text-decoration: none;
    margin-right: 20px;
    color: #ffffff;
}


.logout-button{
    background-color: #0000ff;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
}